.blog {
    padding: 60px 60px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }
}

.card-title {
    font-size: 24px;
}

.card-img {
    padding-top: 25px;
}

.card-descr {
    padding-top: 25px;
    max-width: 325px;
    font-size: 18px;
    
}